.search-bar{
    width: 508.94px;
    height: 40px;
    margin:0 56px 0 56px;
}
.panda-bg-info{
    background-color: #FEEAE9;
}
.panda-btn-danger{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 6px;
    color: white;
}
.prize{
    color: 
    #FF136F;
}



